<%layout("/layouts/boilerplate")-%>
<body>
    <h3>All deatils</h3>
    <ul>
        <li><%=listing.title%></li>
        <li><%=listing.description%></li>
        <img src="<%=listing.images%>" alt="" height="300px" width="300px">
        <li>&#8377 <%=listing.price.toLocaleString("en-IN")%></li>
        <li><%=listing.location%></li>
        <li><%=listing.country%></li>
        <a href="/listings/<%=listing._id%>/edit">
            <button>Edit</button>
        </a>
        <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
            <button>Delete</button>
        </form>
    </ul>
</body>
</html>