<%layout("/layouts/boilerplate")-%>
<body>
  <br><br>
  <h3 class="text-center"><%=listing.title%></h3>
  <br><br>

  <div class="container">
    <div class="card mb-4 mx-auto shadow-lg" style="max-width: 720px; border-radius: 10px;">
      <div class="row g-0 align-items-center">
        
        <!-- Image Section -->
        <div class="col-md-5">
          <img src="<%=listing.image%>" class="img-fluid rounded-start w-100" alt="Listing Image" style="height: 100%; object-fit: cover;">
        </div>

        <!-- Details Section -->
        <div class="col-md-7">
          <div class="card-body">
            <h4 class="card-title fw-bold"><%=listing.title%></h4>
            <p class="card-text text-muted"><%=listing.description%></p>
            <h5 class="text-success">&#8377; <%=listing.price.toLocaleString("en-IN")%> /night</h5>
            <p class="card-text"><i class="bi bi-geo-alt"></i> <%=listing.location%>, <%=listing.country%></p>
            
            <!-- Buttons -->
            <div class="d-flex gap-2">
              <a href="/listings/<%=listing._id%>/edit" class="btn btn-primary flex-grow-1">Edit</a>
              <form action="/listings/<%=listing._id%>?_method=DELETE" method="post" class="w-100">
                <button type="submit" class="btn btn-danger w-100">Delete</button>
              </form>
            </div>

          </div>
        </div>

      </div>
    </div>
    <hr>
    <div class=" mb-4 col-md-7 offset-2">
      <h4>Leave your Review</h4>
      <form action="/listings/<%=listing.id%>/reviews" method="post" novalidate class="needs-validation">
        <div class="mb-3">
        <label for="rating" class="form-label">Rating</label><br>
        <input type="number"min="1" max="5" id="rating" class="form-control" name="review[rating]" placeholder="1-5 ⭐" required>
        <div class="invalid-feedback">
         Rating required
      </div>
      </div>
      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea  id="comment" cols="30" rows="5" class="form-control" placeholder="Enter you review.." name="review[comment]" required></textarea>
        <div class="invalid-feedback">
          Please Enter a Comment!
      </div>
    </div>
        <button class="btn btn-outline-dark">Submit</button>
      </form>
    </div>
    <hr>
    <div class="row offset-2">
      <p><b>All reviews</b></p> 
      <%for(review of listing.reviews){%>
     <div class="card col-5 ms-2 mb-3">
      <div class="card-body">
        <h5 class="card-title">Joe doe</h5>
          <p class="card-text"><%=review.comment%></p>
          <p class="card-text"><%=review.rating%> ⭐</p>
      </div>
     </div>
      <%}%>
 
    </div>
  </div>

  <br><br>
</body>
